<p>
  <mat-toolbar color="primary" class="toolbar-style">
    <span [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive" class="mat-button"
          [routerLink]="'/main-page'">Hannes' Homepage</span>


    <button mat-button>
      random remidner
    </button>


    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">

      sth esl

    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      fav
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      share
    </button>
  </mat-toolbar>
</p>




