<mat-toolbar fxHide.xs fxLayout="row" fxLayoutAlign="center center">
  <div fxHide.lt-md fxFlex="30" fxLayoutAlign="end center">
    <button #tooltip="matTooltip" mat-button
            matTooltip="My personal information"
            [routerLink]="['']" class="mat-button"
            (mousedown)="home($event)">
      Home
    </button>
    <a href="/assets/CV_Hannes_Stark.pdf" target="_blank" #tooltip="matTooltip"
       mat-button
       matTooltip="Download my CV as PDF document"
       class="mat-button">
      CV as PDF
    </a>

    <a href="https://m2d2.io/talks/logg/about/" target="_blank" #tooltip="matTooltip"
       mat-button
       matTooltip="My Learning on Graphs and Geometry Reading Group"
       class="mat-button">
      My Reading Group
    </a>
  </div>
  <div fxHide.lt-md fxFlex="60">
    <div fxFlex="70" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
      <a href="https://scholar.google.com/citations?user=bnXfJdEAAAAJ" target="_blank" class="button-hover"
         mat-icon-button
         aria-label="Example icon-button with share icon">
        <fa-icon [icon]="Gscholar"></fa-icon>
      </a>
      <a href="https://github.com/HannesStark" target="_blank" class="button-hover" mat-icon-button
         aria-label="Example icon-button with share icon">
        <fa-icon [icon]="github"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/hannes-stark/" target="_blank" class="button-hover" mat-icon-button
         aria-label="icon-button icon">
        <fa-icon [icon]="linkedin"></fa-icon>
      </a>
      <a href="https://twitter.com/HannesStaerk" target="_blank" class="button-hover" mat-icon-button
         aria-label="icon-button icon">
        <fa-icon [icon]="twitter"></fa-icon>
      </a>
      <a href="mailto:hannes.staerk@gmail.com" class="button-hover" mat-icon-button aria-label="icon-button icon">
        <fa-icon [icon]="mail"></fa-icon>
      </a>

    </div>
  </div>
  <div fxHide.gt-sm fxFlex="50" fxLayoutAlign="start center">
    <button #tooltip="matTooltip" mat-button
            matTooltip="My personal information"
            [routerLink]="['']" class="mat-button"
            (mousedown)="home($event)">
      Home
    </button>
    <a #tooltip="matTooltip"
       (mousedown)="pdf($event, '/assets/CV_Hannes_Stark.pdf')"
       mat-button
       matTooltip="Download my CV as PDF document"
       class="mat-button">
      CV as PDF
    </a>
    <button #tooltip="matTooltip" mat-button
            matTooltip="The Learning on Graphs and Geometry Reading Group"
            [routerLink]="['logag-reading-group']" class="mat-button"
            (mousedown)="home($event)">
      Reading Group
    </button>
  </div>
  <div fxHide.gt-sm fxFlex="50" fxLayout="row" fxLayoutGap.gt-xs="10px" fxLayoutAlign="end center">
    <a href="https://scholar.google.com/citations?user=bnXfJdEAAAAJ" target="_blank" class="button-hover"
       mat-icon-button
       aria-label="Example icon-button with share icon">
      <fa-icon [icon]="Gscholar"></fa-icon>
    </a>
    <a href="https://github.com/HannesStark" target="_blank" class="button-hover" mat-icon-button
       aria-label="Example icon-button with share icon">
      <fa-icon [icon]="github"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/hannes-stark/" target="_blank" class="button-hover" mat-icon-button
       aria-label="icon-button icon">
      <fa-icon [icon]="linkedin"></fa-icon>
    </a>
    <a href="https://twitter.com/HannesStaerk" target="_blank" class="button-hover" mat-icon-button
       aria-label="icon-button icon">
      <fa-icon [icon]="twitter"></fa-icon>
    </a>
    <a href="mailto:hannes.staerk@gmail.com" class="button-hover" mat-icon-button aria-label="icon-button icon">
      <fa-icon [icon]="mail"></fa-icon>
    </a>
  </div>
</mat-toolbar>
<!--For when there are more buttons-->

<mat-toolbar class="smaller" fxHide.gt-xs fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">

  <button #tooltip="matTooltip" mat-button
            matTooltip="My personal information"
            [routerLink]="['']" class="mat-button"
            (mousedown)="home($event)">
      Home
    </button>
  <a #tooltip="matTooltip"
     (mousedown)="pdf($event, '/assets/CV_Hannes_Stark.pdf')"
     mat-button
     matTooltip="Download my CV as PDF document"
     class="mat-button">
    CV as PDF
  </a>
  <button #tooltip="matTooltip" mat-button
          matTooltip="The Learning on Graphs and Geometry Reading Group"
          [routerLink]="['logag-reading-group']" class="mat-button"
          (mousedown)="home($event)">
    Reading Group
  </button>
</mat-toolbar>
<mat-toolbar class="smaller" fxHide.gt-xs fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
  <a href="https://scholar.google.com/citations?user=bnXfJdEAAAAJ" target="_blank" class="small-button-hover"
     mat-icon-button
     aria-label="Example icon-button with share icon">
    <fa-icon [icon]="Gscholar"></fa-icon>
  </a>
  <a href="https://github.com/HannesStark" target="_blank" class="small-button-hover" mat-icon-button
     aria-label="Example icon-button with share icon">
    <fa-icon [icon]="github"></fa-icon>
  </a>
  <a href="https://www.linkedin.com/in/hannes-stark/" target="_blank" class="small-button-hover" mat-icon-button
     aria-label="icon-button icon">
    <fa-icon [icon]="linkedin"></fa-icon>
  </a>
  <a href="https://twitter.com/HannesStaerk" target="_blank" class="small-button-hover" mat-icon-button
     aria-label="icon-button icon">
    <fa-icon [icon]="twitter"></fa-icon>
  </a>
  <a href="mailto:hannes.staerk@gmail.com" class="small-button-hover" mat-icon-button aria-label="icon-button icon">
    <fa-icon [icon]="mail"></fa-icon>
  </a>
</mat-toolbar>





