//.mat-button {
//  color: white;;
//}
//
//.icon {
//  font-size: 27px;
//  color: white;
//}
//
//.flex-spacer {
//  flex: 1 1 auto;
//}
//
//mat-toolbar {
//  height: 56px;
//  background-color: var(--color-primary);
//}


.mat-button {
  font-size: 18px;
  transition-duration: 0.2s;
  color: var(--color-primary);
}

.mat-button:hover {
  transition-duration: 0.2s;
  background-color: var(--color-primary);
  color: white;
}

.icon {
  transition-duration: 0.2s;
  color: var(--color-primary);
}

.icon:hover {
  transition-duration: 0.2s;
  color: white;
}

.button-hover {
  font-size: 30px;
  transition-duration: 0.2s;
  color: var(--color-primary);
}

.button-hover:hover {
  transition-duration: 0.2s;
  background-color: var(--color-primary);
  color: white;
}

.smaller {
  height: 40px;
}

mat-toolbar {
  background-color: white;
  height: 56px;
}
