.profile-image {
  border-radius: 50%;
  max-width: 250px;
}

.hover-animation {
  position: relative;
  padding: 5px 10px;
}

.Name {
  padding: 5px 10px;
}

.hover-animation:hover {
  cursor: pointer;
  text-decoration: underline;
}


.div-margin {
  margin: 0px 32px;
  max-width: 700px;
}
