<div fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="text-align-center">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div fxFlex="30" fxLayoutAlign="end center" fxLayoutAlign.lt-md="center center">
      <img class="profile-image" src="assets/Allianz vor Hecke squareUpCloser.jpg" alt="Profile Image">
    </div>
    <div fxFlex="60" ngClass.sm="small-margin" ngClass.xs="small-margin--xs">
      <div fxFlex.lt-md="auto" fxFlex="70" fxLayout="column" fxLayoutAlign.lt-md="center center">
        <h1 class="Name">Hannes Stärk</h1>
        <!--
        <div class="underline-title--top" fxLayoutAlign.lt-md="center center">
          <h1 class="left-titles">M. Sc. Computer Science Student</h1>
        </div>
        -->
        <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
          <p class="text-align-left">
            Hi there! I am a 21 years old M. Sc. Computer Science student from Germany at TU Munich.
            <br>
            My current research is on semi-supervised learning for molecular graphs and I am writing my master's
            thesis about that under Pietro Liò at Cambridge.
            My main interests are on the one hand learning on graphs with topics like GNN expressivity or encoding
            equivariances in GNNs.
            On the other hand, I am very excited by Bayesian optimization, uncertainty estimation, variational
            inference, or approximate inference methods in
            general.
            <br>
            From the experiences of my dual study program and through several
            <a (click)="scroll('projects')" class="link-style-green">projects</a>,
            I found my passion for
            research and am now working to pursue a career in that area.
            <br>
            Feel free to contact me about anything in whatever way you prefer:
          </p>

          <div fxLayout="row" fxLayout.xs="column">
            <a href="https://github.com/HannesStark" target="_blank" class="socials-links link-style-black text-black">
              <fa-icon class="link-icon-style-green" [icon]="github"></fa-icon>
              GitHub
            </a>
            <a href="https://www.linkedin.com/in/hannes-stark/" target="_blank"
               class="socials-links link-style-black text-black">
              <fa-icon class="link-icon-style-green" [icon]="linkedin"></fa-icon>
              LinkedIn
            </a>
            <a href='https://twitter.com/HannesStaerk' target="_blank"
               class="socials-links link-style-black text-black">
              <fa-icon class="link-icon-style-green" [icon]="twitter"></fa-icon>
              Twitter
            </a>
            <a class="socials-links link-style-black text-black" href="mailto:hannes.staerk@gmail.com">
              <fa-icon class="link-icon-style-green" [icon]="mail"></fa-icon>
              hannes.staerk@gmail.com
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column" class="width100">
    <!-- section 1 -->
    <div>
      <div fxHide.lt-md>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutAlign="center start">
          <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
            <div fxFlex.gt-sm="200px" fxFlex.lt-md="100" ngClass.gt-sm="underline-title" ngClass.lt-md=""
                 fxLayoutAlign.lt-md="center center">
              <h1 class="left-titles">EDUCATION</h1>
            </div>
          </div>
          <div fxFlex="60">
            <div fxFlex.lt-md="" fxFlex="70" class="underline-title" fxLayout="column"
                 fxLayoutAlign.lt-md="center center">
              <h1 class="left-titles--hidden">.</h1>
            </div>
          </div>
        </div>
      </div>
      <div fxHide.gt-sm ngClass.sm="small-margin" ngClass.xs="small-margin--xs" class="underline-title"
           fxLayoutAlign="center center">
        <h1 class="left-titles">EDUCATION</h1>
      </div>
      <div ngClass.sm="small-margin" ngClass.xs="small-margin--xs" fxLayout="row" fxLayout.lt-md="column"
           fxLayoutAlign.lt-md="center center"
           fxLayoutAlign="center start">
        <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
        </div>
        <div fxFlex="60">
          <div class="text-area" fxFlex.lt-md="" fxFlex="70" fxLayout="column" fxLayoutAlign.lt-md="center center">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">M.Sc. Computer Science</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://www.tum.de/en/" target="_blank">Technical
                    University
                    Munich</a></h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                Oct 2019 - Sept 2021
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Munich, Germany
                </a>
              </p>
              <p class="item-content">
                • 2nd Year: Advanced topics in machine learning and probabilistic inference<br>
                • 1st Year: Introduction to machine learning and learning theory<br>
                Attending the
                <a href="https://www.in.tum.de/tfai/lectureseminar/tfai-reading-group/" target="_blank"
                   class="link-style-green">theoretical foundations of AI
                </a>
                and protein prediction reading groups
              </p>
            </div>
            <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">B.Sc. Computer Science</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://www.unibw.de/home-en" target="_blank">
                    Bundeswehr University Munich</a></h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                Sept 2017 - Sept 2019
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Munich, Germany
                </a>
              </p>
              <p class="item-content">
                • 2nd Year: Networking, statistics, and advanced maths<br>
                • 1st Year: Mathematics, algorithms, and programming foundations<br>
                The dual study program of the Bundeswehr University in cooperation with Allianz AG
                combines theoretical training with
                practical work experience. Usually the curriculum takes three years but I attained all ECTS and got my
                degree in two years.
              </p>
            </div>
            <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">A-Levels</a>
              <h3 class="item-subtitle">Joseph-Bernhart-Gymnasium</h3>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                2009 - 2017
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Türkheim, Germany
                </a>
              </p>
              <p class="item-content">I participated and helped organizing multiple sports events or shows and was
                involved in starting the schools chess group.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section 2 -->
    <div>
      <div fxHide.lt-md>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutAlign="center start">
          <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
            <div fxFlex.gt-sm="200px" fxFlex.lt-md="100" ngClass.gt-sm="underline-title" ngClass.lt-md=""
                 fxLayoutAlign.lt-md="center center">
              <h1 class="left-titles">PROFESSIONAL</h1>
            </div>
          </div>
          <div fxFlex="60">
            <div fxFlex.lt-md="" fxFlex="70" class="underline-title" fxLayout="column"
                 fxLayoutAlign.lt-md="center center">
              <h1 class="left-titles--hidden">.</h1>
            </div>
          </div>
        </div>
      </div>
      <div fxHide.gt-sm ngClass.sm="small-margin" ngClass.xs="small-margin--xs" class="underline-title"
           fxLayoutAlign="center center">
        <h1 class="left-titles">PROFESSIONAL</h1>
      </div>
      <div ngClass.sm="small-margin" ngClass.xs="small-margin--xs" fxLayout="row" fxLayout.lt-md="column"
           fxLayoutAlign.lt-md="center center"
           fxLayoutAlign="center start">
        <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
        </div>
        <div fxFlex="60">
          <div class="text-area" fxFlex.lt-md="" fxFlex="70" fxLayout="column" fxLayoutAlign.lt-md="center center">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">Teaching Assistant for Operations Research</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://www.tum.de/en/" target="_blank">
                    Technical University Munich</a> <a class="item-subtitle link-style-black" href="https://dss.in.tum.de/" target="_blank">
                    Decision Sciences</a></h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                April 2021 - Sept 2021
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Munich, Germany
                </a>
              </p>
              <p class="item-content"> I am primarily holding two exercise sessions per week.
                Additionally, I answer student questions and explain lecture content in an online forum.
              </p>
            </div>
            <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">Mathematics Lecturer</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://www.bibaugsburg.de/" target="_blank">
                    BIB Augsburg gGmbH</a></h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                Feb 2020 - Present
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Augsburg, Germany
                </a>
              </p>
              <p class="item-content">
                I am teaching linear algebra, analysis and statistics in small group lessons and sometimes individual
                lessons.
                The activity also involves a lot of student mediation and counseling to ensure student wellbeing.
              </p>
            </div>
            <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">Teaching Assistant for Deep Learning</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://www.tum.de/en/" target="_blank">
                    Technical University Munich</a></h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                Nov 2020 - April 2021
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Munich, Germany
                </a>
              </p>
              <p class="item-content"> I am primarily holding office hours and giving lessons to subgroups of all
                students.
                Additionally, I create exercises and learning material like jupyter notebooks or explanatory
                illustrations.
                Through the online teaching tool Piazza I explain lecture content and answer questions. You can find the
                course
                <a href="https://niessner.github.io/I2DL/" target="_blank" class="link-style-green">here</a>.
              </p>
            </div>
            <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">

            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">Student Assistant</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://www.unibw.de/timor" target="_blank">
                    Institute of Mathematics and OR, Bundeswehr University Munich</a>
                </h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                Sept 2018 - July 2019
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Munich, Germany
                </a>
              </p>
              <p class="item-content">In the beginning I implemented and evaluated different methods for regression on
                time-series data like SARIMA, ARIMAX and LSTMs.
                After that project was done I worked on causal inference for train traffic data using structure learning
                for bayesian inference and I evaluated the approaches with data from Anylogic simulations.</p>
            </div>
            <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">Dual Study Program</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://www.allianzdeutschland.de/" target="_blank">
                    Allianz Deutschland AG</a></h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                Sept 2017 - Sept 2019
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Munich, Germany
                </a>
              </p>
              <p class="item-content">I mainly worked in an agile Web-Development team where I maintained digital
                infrastructure and wrote code for a customer management application.
                I learned a lot about software engineering, best coding practices and teamwork. In a side project I
                designed and developed an app for organizing large software releases together with five other students.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section 3 -->
    <div id="projects">
      <div fxHide.lt-md>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutAlign="center start">
          <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
            <div fxFlex.gt-sm="200px" fxFlex.lt-md="100" ngClass.gt-sm="underline-title" ngClass.lt-md=""
                 fxLayoutAlign.lt-md="center center">
              <h1 class="left-titles">RESEARCH</h1>
            </div>
          </div>
          <div fxFlex="60">
            <div fxFlex.lt-md="" fxFlex="70" class="underline-title" fxLayout="column"
                 fxLayoutAlign.lt-md="center center">
              <h1 class="left-titles--hidden">.</h1>
            </div>
          </div>
        </div>
      </div>
      <div fxHide.gt-sm ngClass.sm="small-margin" ngClass.xs="small-margin--xs" class="underline-title"
           fxLayoutAlign="center center">
        <h1 class="left-titles">RESEARCH</h1>
      </div>
      <div ngClass.sm="small-margin" ngClass.xs="small-margin--xs" fxLayout="row" fxLayout.lt-md="column"
           fxLayoutAlign.lt-md="center center"
           fxLayoutAlign="center start">
        <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
        </div>
        <div fxFlex="60">
          <div class="text-area" fxFlex.lt-md="" fxFlex="70" fxLayout="column" fxLayoutAlign.lt-md="center center">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">Master's Thesis</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://www.cl.cam.ac.uk/~pl219/" target="_blank">
                    Prof. Pietro Liò, Cambridge University</a>
                </h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                Feb 2021 - Present
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Cambridge, United Kingdom
                </a>
              </p>
              <p class="item-content">
                I am working on semi-supervised learning for molecular graphs where we try to leverage 3D structure information of molecules.
                The current idea is to maximize the mutual information between a spectral representation of the 3D structure and another embedding that is only based on the molecular graph.
                After this, the learned representations can be used for downstream prediction tasks, or the weights can be finetuned to obtain better predictions for molecular properties that are important in areas like drug discovery.
                In this project, I am also collaborating with <a href="https://www.invivoai.com/" target="_blank"
                               class="link-style-green">Invivo AI</a>.
              </p>
            </div>
            <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">IDP Bioinformatics</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://www.rostlab.org/" target="_blank">
                    Rostlab at TUM</a>
                </h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                Sept 2020 - Feb 2021
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Munich, Germany
                </a>
              </p>
              <p class="item-content">
                I developed a new attention mechanism and architecture for predicting proteins' subcellular location
                beating the previous state-of-the-art by 5 percentage points.
                I wrote up the results in a paper that is currently under anonymous review at ICML, but you can already
                look at the <a href="https://github.com/HannesStark/protein-localization" target="_blank"
                               class="link-style-green">code
                <fa-icon class="link-icon-style-green" [icon]="github"></fa-icon>
              </a> and reproduce all the results.
                Besides that I evaluated different types of learned representations for proteins and what information is
                captured by Transformer's protein embeddings, which ultimately led to my method.

              </p>
            </div>
            <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">Guided Research Computer Vision</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://www.niessnerlab.org/" target="_blank">
                    Niessnerlab at TUM</a></h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                March 2020 - Sept 2020
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Munich, Germany
                </a>
              </p>
              <div fxLayout="column">
                <div>
                  <p class="item-content">We used Neural Radiance Fields to render novel views of a scene containing a
                    human. These radiance fields can capture a scene with a low amount of images and then render images
                    from
                    a new unseen viewpoint that did not exist in the original images. Our method added the ability to
                    also
                    change the pose of the human such that you can, for instance, make him walk. Check out the
                    <a href="https://github.com/HannesStark/SMPLNeRF" target="_blank" class="link-style-green">project
                      <fa-icon class="link-icon-style-green" [icon]="github"></fa-icon>
                    </a>
                    or the
                    <a href="/assets/NeRF for Novel View and Human Pose Synthesis.pdf" target="_blank"
                       class="link-style-green">paper
                      <fa-icon class="link-icon-style-green" [icon]="paper"></fa-icon>
                    </a>
                    .
                  </p>
                </div>
                <div class="video-container">
                  <div class="responsive video">
                    <iframe [src]='safeURL' allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">Survey Paper on Transformers</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://www.in.tum.de/daml/startseite/"
                     target="_blank">
                    Data Analytics and Machine Learning Group at TUM</a></h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                April 2020 - Sept 2020
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Munich, Germany
                </a>
              </p>
              <p class="item-content">Transformers are a machine learning method that is the state of the art for many
                natural language processing tasks but are currently also finding a lot of success in other fields.
                Check out the
                <a href="/assets/transformer_survey.pdf" target="_blank" class="link-style-green">paper
                  <fa-icon class="link-icon-style-green" [icon]="paper"></fa-icon>
                </a>
                that explains the architecture, its properties and the main applications in detail.
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- section 3 -->
    <div>
      <div fxHide.lt-md>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutAlign="center start">
          <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
            <div fxFlex.gt-sm="200px" fxFlex.lt-md="100" ngClass.gt-sm="underline-title" ngClass.lt-md=""
                 fxLayoutAlign.lt-md="center center">
              <h1 class="left-titles">PROJECTS</h1>
            </div>
          </div>
          <div fxFlex="60">
            <div fxFlex.lt-md="" fxFlex="70" class="underline-title" fxLayout="column"
                 fxLayoutAlign.lt-md="center center">
              <h1 class="left-titles--hidden">.</h1>
            </div>
          </div>
        </div>
      </div>
      <div fxHide.gt-sm ngClass.sm="small-margin" ngClass.xs="small-margin--xs" class="underline-title"
           fxLayoutAlign="center center">
        <h1 class="left-titles">PROJECTS</h1>
      </div>
      <div ngClass.sm="small-margin" ngClass.xs="small-margin--xs" fxLayout="row" fxLayout.lt-md="column"
           fxLayoutAlign.lt-md="center center"
           fxLayoutAlign="center start">
        <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
        </div>
        <div fxFlex="60">
          <div class="text-area" fxFlex.lt-md="" fxFlex="70" fxLayout="column" fxLayoutAlign.lt-md="center center">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">Bachelor Thesis: Understanding Variational Autoencoders’ Latent Representations of
                Remote Sensing Images</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://www.unibw.de/home-en" target="_blank">
                    Bundeswehr University Munich</a></h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                May 2019 - Sept 2019
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Munich, Germany
                </a>
              </p>
              <p class="item-content">My thesis was my first practical introduction to machine learning.
                I trained a Variational Autoencoder on remote sensing images and visualized the latent space in various
                ways.
                Bishop's "Pattern Recognition And Machine Learning" basically saved me and was my main source for
                learning. It taught me the basics I needed from what neural networks, entropy, or convolutions even are
                to variational inference and latent variable models. Check out my
                <a href="/assets/bachelor_thesis.pdf" target="_blank" class="link-style-green">thesis
                  <fa-icon class="link-icon-style-green" [icon]="paper"></fa-icon>
                </a> or have a look at the
                <a href="https://github.com/HannesStark/bachelorThesis" target="_blank"
                   class="link-style-green">code
                  <fa-icon class="link-icon-style-green" [icon]="github"></fa-icon>
                </a>.

              </p>
            </div>
            <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">Tool for calculating Network centralities</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://www.unibw.de/home-en" target="_blank">
                    Bundeswehr University Munich</a></h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                Feb 2019 - Aug 2019
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Munich, Germany
                </a>
              </p>
              <p class="item-content">I started by investigating the theory on different graph centrality measures
                in the context of computer networks. In the end, what came out of the project is a neat little tool
                with a web interface where you can upload graphs and calculate the centralities for the desired
                measure. You can check it out on
                <a href="https://github.com/HannesStark/dependencyNodeRanking" target="_blank"
                   class="link-style-green">GitHub
                  <fa-icon class="link-icon-style-green" [icon]="github"></fa-icon>
                </a> or have a look at the
                <a href="/assets/node_rankings_explained.pdf" target="_blank" class="link-style-green">report
                  <fa-icon class="link-icon-style-green" [icon]="paper"></fa-icon>
                </a> which explains the centrality measures and the tool.
              </p>
            </div>
            <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">Thinktank: Psychological counseling for students - App Coach PTBS</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://www.unibw.de/home-en" target="_blank">
                    Bundeswehr University Munich</a></h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                April 2018 - July 2018
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Munich, Germany
                </a>
              </p>
              <p class="item-content">We developed the concept for the mobile App "Coach PTBS" where we came up with a
                design and wrote a prototype. The app strives to help and inform about forms of psychological distress
                and is an always accessible tool to easily contact help.
                Check out the final
                <a href="https://www.unibw.de/campusleben/beratungsangebote/coachptbs/view" target="_blank"
                   class="link-style-green">app</a>.
              </p>
            </div>
            <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">Talent base Memmingen: Physics</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://bsg-mm.de/begabungsstuetzpunkt/"
                     target="_blank">
                    Talent Base Memmingen</a></h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                2016 - 2017
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Memmingen, Germany
                </a>
              </p>
              <p class="item-content">
                We built a laser by using high voltage to ionize the nitrogen in a thin strip of air.
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- section 4 -->
    <div>
      <div fxHide.lt-md>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutAlign="center start">
          <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
            <div fxFlex.gt-sm="200px" fxFlex.lt-md="100" ngClass.gt-sm="underline-title" ngClass.lt-md=""
                 fxLayoutAlign.lt-md="center center">
              <h1 class="left-titles">ACTIVITIES</h1>
            </div>
          </div>
          <div fxFlex="60">
            <div fxFlex.lt-md="" fxFlex="70" class="underline-title" fxLayout="column"
                 fxLayoutAlign.lt-md="center center">
              <h1 class="left-titles--hidden">.</h1>
            </div>
          </div>
        </div>
      </div>
      <div fxHide.gt-sm ngClass.sm="small-margin" ngClass.xs="small-margin--xs" class="underline-title"
           fxLayoutAlign="center center">
        <h1 class="left-titles">ACTIVITIES</h1>
      </div>
      <div ngClass.sm="small-margin" ngClass.xs="small-margin--xs" fxLayout="row" fxLayout.lt-md="column"
           fxLayoutAlign.lt-md="center center"
           fxLayoutAlign="center start">
        <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
        </div>
        <div fxFlex="60">
          <div class="text-area" fxFlex.lt-md="" fxFlex="70" fxLayout="column" fxLayoutAlign.lt-md="center center">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">Gymnastics Referee</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="https://www.dtb.de/" target="_blank">
                    German Gymnastics Association DTB</a></h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                Jan 2019 - Present
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Augsburg, Germany
                </a>
              </p>
            </div>
            <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <a class="item-title">Gymnastics and Acrobatics Trainer</a>
              <div fxLayout="row">
                <h3>
                  <a class="item-subtitle link-style-black" href="http://vfl-buchloe.de/" target="_blank">
                    VfL Buchloe</a></h3>
              </div>
              <p class="item-date-loc">
                <fa-icon class="icon-right-margin" [icon]="calendar"></fa-icon>
                Sept 2015 - Present
                <a fxHide.xs>
                  <fa-icon class="icon-right-margin--left" [icon]="location"></fa-icon>
                  Buchloe, Germany
                </a>
              </p>
              <p class="item-content">I have trained gymnastics groups of all ages from kids to adults. Besides that
                I am in the acrobatics team
                <a href="https://akrobatikastralbuchloe.com/" target="_blank" class="link-style-green">Akrobatik
                  Astral</a>
                where we choreograph and organize shows for national (and occasionally international) events and
                competitions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
