<div fxLayout="column" fxLayoutAlign="center center" class="leftcol">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div fxFlex="30%" fxLayoutAlign="end center" fxLayoutAlign.lt-md="center center">
      <img class="profile-image" src="assets/squareImage.jpg" alt="Profile Image">
    </div>
    <div fxFlex="70">
      <div fxFlex.lt-md="" fxFlex="70" class="div-margin" fxLayout="column" fxLayoutAlign.lt-md="center center">
        <h1 class="Name">Hannes Stärk</h1>
        <p class="text-align">contentntenlk alskdnfaölkndsf öalkdsnfö laknsdfölk naösdlkfn ölaksdnföla ksndfö
          lkansdfölknasdöfl
          sdflajkndsf ölsakdnfö lkasdnf öalksdnf ölaksdnfö lkasndfö lkansdfö lknasdföl
          asdflk nasödflknaösdlkfn öaldsknfö aklsndfö akndsöflkansdöfknawecioawnecpoaiwncopin</p>
        <div fxLayout="row" fxLayout.xs="column">
          <a class="link-style" (click)="goToLink('https://github.com/HannesStark')">
            <fa-icon [icon]="github"></fa-icon>
            GitHub
          </a>
          <a class="link-style" (click)="goToLink('https://facebook.com/')">
            <fa-icon [icon]="linkedin"></fa-icon>
            LinkedIn
          </a>
          <a class="link-style" (click)="goToLink('https://facebook.com/')">
            <fa-icon [icon]="twitter"></fa-icon>
            Twitter
          </a>
          <a class="link-style" (click)="goToPage('mailto:hannes.staerk@gmail.com')">
            <fa-icon [icon]="mail"></fa-icon>
            Hannes.Staerk@gmail.com
          </a>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutAlign="center start">
      <div class="title-underline" fxFlex="30%" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
        <h1 class="left-titles">EDUCATION</h1>
      </div>
      <div  class="title-underline" fxFlex="70">
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutAlign="center start">
      <div fxFlex="30%" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
      </div>
      <div fxFlex="70">
        <div fxFlex.lt-md="" fxFlex="70" class="div-margin" fxLayout="column" fxLayoutAlign.lt-md="center center">

          <p>contentntenlk alskdnfaölkndsf öalkdsnfö laknsdfölk naösdlkfn ölaksdnföla ksndfö lkansdfölknasdöfl
            sdflajkndsf ölsakdnfö lkasdnf öalksdnf ölaksdnfö lkasndfö lkansdfö lknasdföl
            asdflk nasödflknaösdlkfn öaldsknfö aklsndfö akndsöflkansdöfknawecioawnecpoaiwncopin</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="15">First item in row</div>
  <div fxFlex="15" fxLayoutAlign="center">
    <mat-card class="example-card">

      <img mat-card-image src="assets/blackWhite.jpg" alt="Profile Image">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
    <img class="profile-image" src="assets/blackWhite.jpg" alt="Profile Image">
  </div>
  <div fxFlex="40">Second item in row</div>
  <div fxFlex="30">Second item in row</div>
</div>-->
