.profile-image {
  border-radius: 50%;
  max-width: 150px;
  padding: 5px;
  border: 1px solid #f2f3f3;
}

.hover-animation {
  position: relative;
  padding: 5px 10px;
}

.Name{
  padding: 5px 10px;
}

.hover-animation:hover{
  cursor: pointer;
  text-decoration: underline;
}
