<div fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="text-align-center">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div fxFlex="30" fxLayoutAlign="end center" fxLayoutAlign.lt-md="center center">
    </div>
    <div fxFlex="60" ngClass.sm="small-margin" ngClass.xs="small-margin--xs">
      <div fxFlex.lt-md="auto" fxFlex="70" fxLayout="column" fxLayoutAlign.lt-md="center center">
        <h1 class="Name">Lectures Reviewed!</h1>
        <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
          <p class="text-align-left">
            Since I have no hobbies and watch hours of mathematics lectures every day, I get through quite a few.
            Here you can find my favorites and reviews about them plus
            info what previous knowledge is required

            <br>
            opinion
          </p>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column" class="width100">
    <!-- section 1 -->
    <div>
      <div fxHide.lt-md>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutAlign="center start">
          <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
            <div fxFlex.gt-sm="200px" fxFlex.lt-md="100" ngClass.gt-sm="underline-title" ngClass.lt-md=""
                 fxLayoutAlign.lt-md="center center">
              <h1 class="left-titles">EDUCATION</h1>
            </div>
          </div>
          <div fxFlex="60">
            <div fxFlex.lt-md="" fxFlex="70" class="underline-title" fxLayout="column"
                 fxLayoutAlign.lt-md="center center">
              <h1 class="left-titles--hidden">.</h1>
            </div>
          </div>
        </div>
      </div>
      <div fxHide.gt-sm ngClass.sm="small-margin" ngClass.xs="small-margin--xs" class="underline-title"
           fxLayoutAlign="center center">
        <h1 class="left-titles">EDUCATION</h1>
      </div>
      <div ngClass.sm="small-margin" ngClass.xs="small-margin--xs" fxLayout="row" fxLayout.lt-md="column"
           fxLayoutAlign.lt-md="center center"
           fxLayoutAlign="center start">
        <div fxFlex="30" fxLayoutAlign="end start" fxLayoutAlign.lt-md="center center">
        </div>
        <div fxFlex="60">
          <div class="text-area" fxFlex.lt-md="" fxFlex="70" fxLayout="column" fxLayoutAlign.lt-md="center center">
            <div class="item" fxLayout="column" fxLayoutAlign.lt-md="center center">
              <mat-card class="example-card">
                <mat-card-header class="card-header" (click)="open=!open">

                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content [@openClose]="open ? 'open' : 'closed'">
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                     alt="Photo of a Shiba Inu">
              </mat-card>
            </div>
            <hr ngClass.gt-sm="separator" ngClass.lt-md="separator--small">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
